.landing-container a {
  /* color: rgb(251, 227, 86); */
  color: rgb(255, 245, 98);
  /* color: blue; */
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}

.landing-container a:hover {
  text-decoration: underline;
}

.landing-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%
}

.info-container {
  background-color: #517171;
  flex-basis: 400px;
  flex-grow: 1;
  margin: 35px 15px 15px;
  width: 100%;
  position: relative;
}

.info-container h2,
.info-container p {
  color: #fbfbfb;
  margin: 10px;
}

.info-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.register-container {
  margin-right: 10px;
}