
.entry-card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  /* border: 1px solid gray; */
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #F6F6F6;
}

.button-delete:hover {
  background-color: #900606;
}

.entry-date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: block;
  text-decoration: underline;
}

.entry-preview {
  font-family: 'Roboto', sans-serif;
}

.entry-buttons {
  display: flex;
  justify-content: flex-end;
}