
h1 {
  margin-top: 0px;
  display: inline-block;
}

header {
  padding: 10px 15px 0px;
  color: white;
  background-color: #555555;
}

header a, header a:hover,
header a:visited {
  color: white;
}

header .login-controls,
header button {
  float: right;
  margin-top: 15px;
}