.landing-container {
  margin-top: 35px;
  padding: 20px;
  background-color: #999999;
}

.landing-container a {
  color: rgb(251, 227, 86);
  text-decoration: none;
}

.landing-container a:hover {
  text-decoration: underline;
}